.banner {
    width: 100%;
    overflow: hidden;
}

.banner__continer {
    width: auto;
    display: flex;
    flex-wrap: nowrap;
}

.banner__continer-show {
    width: 100%;
    height: 350px;
}


.banner__continer-img {
    background: url(../img/banner.png) center / cover no-repeat;
}

.banner__info {
    height: calc(100% - 100px);
    width: 80%;
    padding: 50px 50px 50px 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: all 300ms;
}

.banner__info-title {
    font-family: Raleway, sans-serif;
    font-size: 52px;
    font-weight: 700;
    color: #fdfdfd;
}

.banner__info-description {
    font-family: Raleway, sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #fdfdfd;
    margin-bottom: 16px;
}

.banner__button {
    border: none;
    outline: none;
    background-color: var(--color_fondo-o-letra_botones-2);
    color: #FFFFFF;
    padding: 16px;
    marging-top: 16px;
    border-radius: 10px;
    cursor: pointer;
}

.banner__button:hover {
    box-shadow: 10px 5px 10px 5px rgba(22, 26, 45, 0.11);
    transform: scale(1.02);
}

.banner__button:active {
    box-shadow: inset 0 0 30px 8px rgba(22, 26, 45, 0.11), 0 0 5px 1px #000000;
    transform: scale(0.99);
}


@media screen and (max-width: 360px) {

    .banner__continer-img {
        background: url(../img/banner.png) center no-repeat;
    }

    .banner__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 90%;
        margin-left: 1rem;
        width: 95%;
        padding: 0;
        transition: all 300ms;
    }

    .banner__info-title {
        font-size: 32px;
        margin-bottom: 8px;
    }

    .banner__info-description {
        font-size: 16px;
    }


}
