.header__container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
}

.header__items {
    display: flex;
    align-items: center;

}

.header__logoHome {
    margin: 0 50px;
}

.header__search:hover {
    box-shadow: 10px 5px 10px 5px rgba(22, 26, 45, 0.11);
    transform: scale(1.01);
}

.header__search {
    background: #f5f5f5;
    display: flex;
    align-items: center;
    width: 20rem;
    padding: 8px 16px;
    justify-content: space-between;
    border-radius: 50px;
    transition: all 300ms;

}

.header__lupa2 {
    width: 1.4rem;
    height: 1.4rem;
    flex-shrink: 0;
    padding: 0.5rem 1rem;
    text-align: center;
    margin-left: 10px;
    display: none;
   
}

.fa-magnifying-glass
{
    font-size: 28px;
    color: var(--color_fondo-o-letra_botones-2);
}

.header__search-input {
    border: none;
    background: transparent;
}

.header__search-input::placeholder {
    color: rgba(36, 57, 85, 0.11);
}

.header__search-input:focus {
    outline: none;
    border: none;
    background: transparent;
}

.header__search-button {
    cursor: pointer;
    border: none;
    background: transparent;
}

.header__login-button {
    border: none;
    color: var(--color_fondo-o-letra_botones-2);
    padding: 16px 70px;
    margin: 0 1rem;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid var(--color_fondo-o-letra_botones-2);
    cursor: pointer;
    text-decoration: none;
}

.header__login-button:hover {
    box-shadow: 10px 5px 10px 5px rgba(22, 26, 45, 0.11);
    transform: scale(1.02);
}

.header__login-button:active {
    box-shadow: inset 0 0 30px 8px rgba(22, 26, 45, 0.11), 0 0 5px 1px #000000;
    transform: scale(0.99);
}

.header__btn {
    border: none;
    color: var(--color_fondo-o-letra_botones-2);
    padding: 16px 70px;
    margin: 0 1rem;
    background-color: transparent;
    border: 1px solid var(--color_fondo-o-letra_botones-2);
    cursor: pointer;
    text-decoration: none;
}

.header__btn:hover {
    box-shadow: 10px 5px 10px 5px rgba(22, 26, 45, 0.11);
    transform: scale(1.02);
}

.header__btn:active {
    box-shadow: inset 0 0 30px 8px rgba(22, 26, 45, 0.11), 0 0 5px 1px #000000;
    transform: scale(0.99);
}

.classSearch {
    display: flex;
    position: absolute;
    background: #f5f5f5;
    padding: 10px;
    border-radius: 50px;
    top: 70px;
    right: 5vw;
    z-index: 1;
    box-shadow: 0 0 1rem var(--second-bg-color);
}

@media screen and (max-width: 768px) {
    /* .header__container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    } */

    .header__items {
        flex-direction: row;
        margin: 1rem auto;
        justify-content: left;
    }

    .header__logoHome-image {
        width: calc(100% - 15px);
    }

    .header__logoHome{
        margin: 0;
    }

    /* .header__lupa2 {
        display: block;
    } */

}

@media screen and (max-width: 617px) {
    .header__container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        width: 100%;
        
    }

    .header__items {
        flex-direction: row;
        /* justify-content: flex-start; */
        /* max-width: 414px; */
        margin: 0;
    }

    .header__search {
        width: auto;
        height: auto;
    }

    .header__logoHome-image {
        width: calc(100% - 15px);
        
    }

    .header__logoHome
    {
        margin: 0%;
        display: flex;
    }

    .header__search {
        width: auto;
        height: auto;
        /* position: absolute; */
        display: none;
        order: 2;
    }

    .header__lupa2
    {
        display: block;
        width: 1.8rem;
        height: 1.8rem;
        padding: 0 5%;
        justify-content: center;
        margin-left: 0;
    }
    /* .header__search-input
    {
        display: none;
        content-visibility: hidden;
    } */

    .header__login-button
    {
        /* position: absolute; */
        justify-content: center;
    }
}

.lupaNone {
    display: flex;
}

.lupaNone2 {
    opacity: 0;
}

.hideSearch
{
    display: none;
}